@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', sans-serif;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: 'Sriracha';
    font-size: 4vw;
    box-shadow: 1px 1px 10px black;
    
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(88, 88, 88);
    color: white;
    text-shadow: 1px 1px 3px black;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.418);
    display: inline-block;
    padding: 5px;
}

section#imagem01{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
}

section#imagem02{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}